backend/node_modules
backend/.env
backend/.traeignore
backend/dist
frontend/dist
frontend/node_modules
.traerules
CHANGELOG_AI.md
DOCUMENTACAO_API_FRONTEND.md
PAINEIS_A_SER_DESENVOLVIDOS.md
PROJECT_MEMORY.md
TROCACONTA.md